html {
  background-color: #403d3c;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

#logoRed {
  color: #f03360;
}

#logoWhite {
  color: white;
}

#logoGreen {
  color: #4de93f;
}

h1 {
  text-align: center;
  font-family: "Megrim", cursive;
  font-size: 10vw;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-family: "Megrim", cursive;
  font-size: 2vw;
  color: white;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 15vw;
  }

  h2 {
    font-size: 5vw;
  }
}
