html {
  background-color: #403d3c;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: "Megrim", cursive;
  font-size: 10vw;
}

h2 {
  text-align: center;
  font-family: "Megrim", cursive;
  font-size: 2vw;
  color: white;
}

#logoRed {
  color: #f03360;
}

#logoWhite {
  color: white;
}

#logoGreen {
  color: #4de93f;
}
